*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  color: white;
  background: black;
}

.container{
  border: 2px solid;
}

.square{
  width: 30px;
  height: 30px;
  border: 2px solid red;
}
