:root{
  --count: 16;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  color: white;
  background: black;
  text-align: center;
}

h1{
  display: inline;
  padding: 50px;
}
.container{
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
}

.square{
  width: calc(100%/ var(--count));
  height: calc(100%/ var(--count));
  border: 1px solid grey;
}

button{
  font-size: large;
  border: none;
  color: green;
  padding: 5px;
  border-radius: 10px;
}
